{
    "plugins": ["html"], 
    "rules": {
      "html/no-empty-element": "error",
      "html/no-missing-required-attribute": "error",
      "html/no-script-external-std": "error",
      "html/no-unknown-element": "error",
      "html/no-unknown-require-attribute": "error",
      "html/sort-class": "error",
      "html/sort-attributes": "error"
    } 

    
  }