{

  "plugins": ["html"],
  "settings": {
    "html/html-extensions":[".html", ".we"]
  },
  
  
  "rules": {

    
    "@html-eslint/no-duplicate-id": "error",
    "@html-eslint/no-obsolete-tags": "error"

   
  },

  "env": {

    "node": true,
    "es6": true

  },

  "parserOptions": {
    "ecmaVersion": 8

  }

}